<a href="https://colab.research.google.com/github/rudeboybert/SDS390/blob/master/PS/PS01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Problem Set 01
1. Name:
1. Field that you're interested in applying TS and forecasting to (ecology, econ, weather, etc):

# Obtain a CSV of time series data
1. By whatever means, get a `.csv` file of time series data relating to any topic: ecological, financial, etc.
1. There should be at least three variables of data
1. If you download from the web, include a link. If you use ChatGPT, include a link to your shared search

In [ ]:
import pandas as pd
import matplotlib as plt
import requests
import pandas as pd

In [ ]:
# Code from https://chat.openai.com/share/572f7333-82a9-411f-95df-4f543fd3ae96

# CoinGecko API endpoint for historical market data
url = "https://api.coingecko.com/api/v3/coins/bitcoin/market_chart"

# Specify the number of days to retrieve (180 days for 6 months)
params = {
    "vs_currency": "usd",
    "days": "180",
}

# Send GET request to the API
response = requests.get(url, params=params)

# Get the BTC price data from the API response
btc_price_data = response.json()["prices"]

# Convert the price data to a Pandas DataFrame
df = pd.DataFrame(btc_price_data, columns=["Timestamp", "Price"])

# Convert the timestamp to datetime
df["Timestamp"] = pd.to_datetime(df["Timestamp"], unit="ms")

# Export the DataFrame to a CSV file
df.to_csv("btc_price_data.csv", index=False)

In [ ]:
df

              Timestamp         Price
0   2023-03-31 00:00:00  28041.123080
1   2023-04-01 00:00:00  28516.784730
2   2023-04-02 00:00:00  28498.944633
3   2023-04-03 00:00:00  28236.508739
4   2023-04-04 00:00:00  27815.426531
..                  ...           ...
176 2023-09-23 00:00:00  26572.038112
177 2023-09-24 00:00:00  26573.923480
178 2023-09-25 00:00:00  26249.562898
179 2023-09-26 00:00:00  26298.634678
180 2023-09-26 06:55:49  26270.169699

[181 rows x 2 columns]

# 1. Time series plots
1. Plot the raw time series data
1. Identify any time series patterns
1. Identify any interesting trends insight

# 2. Scatterplots
1. Plot a 3x3 grid of all pairwise scatterplots
1. Identify any interesting trends insight

# 3. Lag & autocorrelation plots
1. Plot a lag plot of any variable of your choice to *visualize* its relationship to itself in the past. Use a maximum $k$ value of your choice
1. Plot an autocorrelation plot of this same variable to *quantify* its relationship to itself in the past. Use a maximum $k$ value of your choice